*,
html,
body {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red; */
  /* color: white; */
}
body {
  /* background-image: url("/assets/bg.jpg"); */
  background-color: rgba(51, 51, 51, 0.5);
}

.content {
  height: 99.99vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.side-navbar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #333333;
}

.navbar-item {
  padding: 2rem 1rem 2rem 1rem;
}
.navbar-item > .title {
    display: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.main-content {
  flex-grow: 99;
  /* background-color: red; */
}

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}
.section > .left-side {
  margin: 0;
  background-color: #222222;
}
.section > .right-side {
  margin: 0;
  background-color:#333333;
}